* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 3rem;
    background: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: rgb(112, 146, 214);
    color: #000000;
    margin: 1px;
    /* width: 1px; */
    width: 1.3rem;
    /* transition: background 50ms ease; */
    
}
.bar p {
    text-align: start;
    margin: 0;
}

.bar-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* height: 330px; */
}

.btn-container {
    display: flex;
    justify-content: center;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background: rgb(148, 147, 147);
    padding: .5rem 1rem;
    margin: 2px;
    border-radius: 5px;
}